name: CI (Maven)
 
on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:
 
jobs:
  build-test:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
 
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven
 
      - name: Build & Test
        run: mvn -B -ntp -DskipTests=false clean verify
 
      - name: Package (optional)
        if: success()
        run: mvn -B -ntp package
 
      - name: Upload artifact (JAR)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: |
            target/*.jar
            !target/original-*.jar
